{% extends "base.html.twig" %}

{% block title %}
Acceuil
{% endblock %}

{% block body %}

    <h2>Nos produits phares</h2>

    <div class="row">
        {% for p in products %}
        <div class="col">
            {% include "product/_product_card.html.twig" %}
            {# {% include "product/_product_card.html.twig" with {'p': category} %} #}
        </div>
        {% endfor %}
    </div>

    <hr>

    <h3>Un service irréprochable</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis mollitia quam tempore accusantium ut saepe
        voluptate provident temporibus, deleniti sit ipsa in voluptatum perspiciatis voluptas sequi quisquam repudiandae
        distinctio alias.</p>

    <div class="row">
        {% include "shared/_assurance.html.twig" with {
        'color': 'primary',
        'icone': 'fas fa-truck',
        'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ipsam!"
        } %}

        {% include "shared/_assurance.html.twig" with {
        'color': 'success',
        'icone': 'fas fa-check',
        'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ipsam!"
        } %}

        {% include "shared/_assurance.html.twig" with {
        'color': 'warning',
        'icone': 'fas fa-lock',
        'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ipsam!"
        } %}
    </div>


{% endblock %}